 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <%= link_to "", "#", class: "fa fa-youtube" %>
          <%= link_to "", "#", class: "fa fa-instagram" %>
          <%= link_to "", "#", class: "fa fa-facebook" %>
          <%= link_to "", "#", class: "fa fa-twitter" %>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
  </div>
</div>
